@font-face {
  font-family: 'CormorantInfant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/CormorantInfant-Regular.woff2') format('woff2'),
    url('../fonts/CormorantInfant-Regular.woff') format('woff');
}

@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
    url('../fonts/JosefinSans-Regular.woff') format('woff');
}